<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test views</title>
</head>

<body>
  <h1>[[message]]</h1>
  <div id="app">
    <input type="text" v-model="message" />
    <div>{{message}}</div>
  </div>
  <script src="https://cdn.staticfile.org/vue/2.6.6/vue.js"></script>
  <script src="/js/test.js"></script>
  <script type="module">
    import('/js/data.js').then(response => {
      console.log('res: ', response)
    })
  </script>
  <script nomodule>
    console.log('dont support module synax')
  </script>

  <!-- <script nomodule src="https://cdn.staticfile.org/systemjs/6.6.0/system.js"></script>
  <script nomodule>
    // 需要用babel转换为Systemjs转换一下data.js
    System.import('/js/data.js').then(response => {
      console.log('res: ', response)
    })
  </script> -->
</body>

</html>